<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
     xmlns:mongo="http://www.springframework.org/schema/data/mongo"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sec="http://www.springframework.org/schema/security"
    xsi:schemaLocation="
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.2.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
        http://www.springframework.org/schema/data/mongo  http://www.springframework.org/schema/data/mongo/spring-mongo-1.8.xsd">

	<!-- 使用 annotation 自動註冊 bean, 檢查 @Controller, @Service, @Repository 注入 --> 
	<context:component-scan base-package="org.narl.*" />
	
	<!-- 使用 annotation --> 
	<context:annotation-config />

	<!-- transaction management , this will work when use @Lazy and @Transaction-->
	<tx:annotation-driven  transaction-manager="transactionManager"/>

<!--     <sec:authentication-manager> -->
<!--         <sec:authentication-provider> -->
<!--             <sec:user-service id="userService"> -->
<!--                 <sec:user name="admin" password="password" authorities="admin" /> -->
<!--                 <sec:user name="johndoe" password="password" authorities="customer, admin" /> -->
<!--             </sec:user-service> -->
<!--         </sec:authentication-provider> -->
<!--     </sec:authentication-manager> -->

<!--     <sec:http create-session="stateless" use-expressions="true"> -->
<!--         <sec:intercept-url pattern="/**" -->
<!--             access="permitAll" /> -->
<!--         <sec:intercept-url pattern="/rest/timeoftheday/asxml/**" -->
<!--             access="hasRole('admin')" /> -->
<!--         <sec:intercept-url pattern="/rest/timeoftheday/asjson/**" -->
<!--             access="hasAnyRole('admin','customer')" /> -->
<!--         <sec:intercept-url pattern="/rest/empInfo/asjson/**" -->
<!--             access="permitAll" />  -->
               
<!--         <sec:http-basic /> -->
<!--     </sec:http> -->
      

<!-- 	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> -->
<!--   		<property name="dataSource" ref="dataSource"></property> -->
<!-- 	</bean> -->
	
	<!-- 	<context:property-placeholder location="classpath:hibernate/hibernate.properties"/> -->
<!-- 	<context:property-placeholder location="classpath:hibernate.properties"/> -->
	
<!-- 	<import resource="applicationContext-persistence.xml" /> -->
<!-- 	<import resource="ldap.xml"/> -->

	<!-- mongo -->
	<mongo:mongo host="127.0.0.1" port="27017" />
	<mongo:db-factory dbname="hrvisual" />
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
	</bean> 
    
    <mongo:repositories base-package="org.narl.hrms.visual.mongo.service"></mongo:repositories>
</beans>